In [1]:
import pandas as pd
import tabula
file = "filename.pdf"
path = 'table.pdf'
df = tabula.read_pdf(path, pages = '1', multiple_tables = True)
print(df)

[             0             1          2            3             4  \
0          NaN           NaN        NaN          NaN           NaN
1          NaN           NaN        NaN      Ballots           NaN
2   Disability           NaN    Ballots          NaN           NaN
3          NaN  Participants        NaN  Incomplete/           NaN
4     Category           NaN  Completed          NaN      Accuracy
5          NaN           NaN        NaN   Terminated           NaN
6          NaN           NaN        NaN          NaN           NaN
7        Blind             5          1            4    34.5%, n=1
8   Low Vision             5          2            3     98.3% n=2
9          NaN           NaN        NaN          NaN  (97.7%, n=3)
10   Dexterity             5          4            1    98.3%, n=4
11    Mobility             3          3            0    95.4%, n=3

                  5
0           Results
1               NaN
2               NaN
3               NaN
4           Time to
5               NaN
6          complete
7     1199 sec, n=1
8     1716 sec, n=3
9   (1934 sec, n=2)
10  1672.1 sec, n=4
11    1416 sec, n=3  ]

In [2]:
df=tabula.read_pdf("table.pdf", pages=1)

# in order to print first 5 lines of Table
df.head()

   Unnamed: 0    Unnamed: 1 Unnamed: 2   Unnamed: 3 Unnamed: 4  Results
0         NaN           NaN        NaN      Ballots        NaN      NaN
1  Disability           NaN    Ballots          NaN        NaN      NaN
2         NaN  Participants        NaN  Incomplete/        NaN      NaN
3    Category           NaN  Completed          NaN   Accuracy  Time to
4         NaN           NaN        NaN   Terminated        NaN      NaN

In [156]:
from tabula import read_pdf
df=read_pdf('/home/am/Downloads/read.pdf')
import pandas as pd
df1=pd.DataFrame(df)
df1

,Name :,MUKESH SHARMA,Unnamed: 2,Unnamed: 3,FOLIO :91013119452,Unnamed: 5,CAN:,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,BOID :1208160010642423,NaN,UMRN :,NaN,NaN
1,Address :,H No 820 Gali No 6 Batala Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,New Rajesh Nagar,NaN,NaN,Bank Name : STATE BANK OF INDIA,NaN,NaN,NaN,NaN
3,NaN,Amritsar,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Punjab,PIN : 143001,NaN,Bank A/c No: XXXXXXX4660,NaN,A/c Type:,SAVINGS,NaN
5,NaN,NaN,NaN,NaN,Branch: AMRITSAR,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,Payout Type: Electronic,NaN,IFSC Code :,SBIN0008016,NaN
7,NaN,NaN,NaN,NaN,Multiple Bank Reg: Not Registered,NaN,MICR Code:,143002005,NaN
8,Phone :,8054619283,Mobile : 8054619283,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,PAN No,NaN,CKYC,KYC,#FATCA
10,Email :,BHARDWAJ.MUKESH91@GMAIL.COM,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,1st Holder KSTPS1360G,NaN,NaN,NaN,Registered
12,2nd Holder :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,2nd Holder,NaN,NaN,NaN,NaN
14,3rd Holder :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,3rd Holder,NaN,NaN,NaN,NaN
16,ARN (Latest/Last) :,NaN,000000-0 Advisory (RIA) :,INZ000031633,Guardian,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,POA : NA,NaN,Nominee : 1.,NaN,NaN
18,Broker Name,:,DIRECT,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,2.,NaN,NaN
20,Sub-Broker,:,NaN,NaN,NaN,NaN,3.,NaN,NaN
21,NaN,NaN,NaN,NaN,UBO : NA,NaN,NaN,NaN,NaN
22,EUIN,:,NaN,NaN,Mode of Holding : SINGLE,NaN,Status:,NaN,INDIVIDUAL
23,# It is mandatory for all investors (new and ...,w,. k a r v y mf s . c o m,/ k a r v y / f a c t a h o m,e . a s p x,NaN,NaN,NaN,NaN
24,or by submitting a duly filled and signed appl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,In case there is any change in your KYC inform...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Portfolio Summary as on 26/09/2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Scheme Name Units Allotted Cost of Investment NAV,NaN,NaN,Current Value,NaN,NaN,NaN,NaN,NaN
28,Motilal Oswal Multicap 35 Fund - Direct Growth...,NaN,NaN,NaN,"3,158.00",NaN,NaN,NaN,NaN
29,"Total: 3,000.00",NaN,NaN,NaN,"3,158.00",NaN,NaN,NaN,NaN
30,Detailed Transaction Summary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Scheme Motilal Oswal Multicap 35 Fund - Direct...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Date Transaction Type Amount(INR) NAV(INR),NaN,Units,NaN,Unit Balance,NaN,NaN,NaN,NaN
33,"18/07/2019 Purchase(NAV Dt.18/07/2019) 1,000.0...",NaN,36.790,NaN,36.790,NaN,NaN,NaN,NaN
34,"16/08/2019 Purchase(NAV Dt.16/08/2019) 1,000.0...",NaN,38.500,NaN,75.290,NaN,NaN,NaN,NaN
35,"16/09/2019 Purchase(NAV Dt.16/09/2019) 1,000.0...",NaN,37.945,NaN,113.235,NaN,NaN,NaN,NaN
36,Balance Units: 113.235 Pledged/Blocked Units: ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [111]:
pan=[]
for i in df1['FOLIO :91013119452']:
    try:

        a=[]
        
        for j in i.split():
            a.append(i.split())
        for k in a:
            if k[0]=='PAN':
                pan.append(k[0]+' '+k[1])
                break
            if k[0]=='1st':
                find[pan[0]]=k[-1]
                break
            
          
    except:
        pass
find

{'Name': 'MUKESH SHARMA',
 'FOLIO': '91013119452',
 'BOID': ':1208160010642423',
 'Address': 'H No 820 Gali No 6 Batala Road,New Rajesh Nagar',
 'PIN': '143001',
 'Mobile': '8054619283',
 'PAN No': 'KSTPS1360G'}

In [112]:
find={}
pan=[]
find[df1.columns[0].split()[0]]=df1.columns[1]
find[df1.columns[4].split(':')[0].strip()]=df1.columns[4].split(':')[1].strip()
find[df1['FOLIO :91013119452'][0].split()[0].strip()]=df1['FOLIO :91013119452'][0].split()[1].strip()
for i in df1['Unnamed: 2']:
    try:
        a=[]
        for j in i.split():
            a.append(i.split())
        for k in a:
            if k[0]=='PIN':
                find[df1['Name :'][1].split()[0].strip()]=df1['MUKESH SHARMA'][1]+','+df1['MUKESH SHARMA'][2]
                find[k[0]]=k[-1]
                break
            if k[0]=='Mobile':
                find[k[0]]=k[-1]
                break
    except:
        pass
for i in df1['FOLIO :91013119452']:
    try:

        a=[]
        
        for j in i.split():
            a.append(i.split())
        for k in a:
            if k[0]=='PAN':
                pan.append(k[0]+' '+k[1])
                break
            if k[0]=='1st':
                find[pan[0]]=k[-1]
                break
            
          
    except:
        pass
find

find

{'Name': 'MUKESH SHARMA',
 'FOLIO': '91013119452',
 'BOID': ':1208160010642423',
 'Address': 'H No 820 Gali No 6 Batala Road,New Rajesh Nagar',
 'PIN': '143001',
 'Mobile': '8054619283',
 'PAN No': 'KSTPS1360G'}

In [105]:
for i in df1['FOLIO :91013119452']:
    try:
        pan=[]
        a=[]
        
        for j in i.split():
            a.append(i.split())
        for k in a:
            if k[0]=='PAN':
                pan.append(k[0]+' '+k[1])
                #print(pan[0])
                break
            if k[0]=='1st':
                a([k[-1]])
                #find[pan[0]]=k[-1]
                print(pan[0])
                print([k[-1]])
                #print(find)
                break
            
          
    except:
        pass

In [85]:
find

{'Name': 'MUKESH SHARMA',
 'FOLIO': '91013119452',
 'BOID': ':1208160010642423',
 'Address': 'H No 820 Gali No 6 Batala Road,New Rajesh Nagar',
 'PIN': '143001',
 'Mobile': '8054619283',
 'KSTPS1360G': 'KSTPS1360G'}

In [222]:
import easygui
import pandas as pd
from tabula import read_pdf
from PyPDF2 import PdfFileReader, PdfFileWriter

#encrypt passwrod protect file

file_path = easygui.fileopenbox()
password='KSTPS1360G'
with open(file_path, 'rb') as input_file, \
    open('new.pdf', 'wb') as output_file:
    reader = PdfFileReader(input_file)
    reader.decrypt(password)
    writer = PdfFileWriter()
    for i in range(reader.getNumPages()):
        writer.addPage(reader.getPage(i))
    writer.write(output_file)

In [289]:
from bs4 import BeautifulSoup
link='file:///home/am/.cache/.fr-y8KFyJ/3aabf7c8-0068-11ea-9d71-0cc47a792c0a_id_3aabf7c8-0068-11ea-9d71-0cc47a792c0a.html'
soup=BeautifulSoup(f.read(),'html.parser')

''

In [276]:
import requests
page=requests.get('https://www.researchgate.net/post/How_do_I_extract_the_content_from_dynamic_web_pages')

In [293]:
import codecs
f=codecs.open("/home/am/Downloads/new/3aabf7c8-0068-11ea-9d71-0cc47a792c0a_id_3aabf7c8-0068-11ea-9d71-0cc47a792c0a.html", 'r')
f=f.read()
soup=BeautifulSoup(f,'html.parser')

In [296]:
import camelot
tables = camelot.read_pdf('new.pdf')

In [299]:
tables
tables.export('foo.csv', f='csv', compress=True)
tables[0]
tables[0].parsing_report
tables[0].to_csv('foo.csv')
tables.df

AttributeError: 'TableList' object has no attribute 'df'

In [210]:
sys.argv[0]

'/home/am/.local/lib/python3.6/site-packages/ipykernel_launcher.py'

In [217]:
sys.argv[3]

IndexError: list index out of range